body {
  /* background-color: #28BC4E; */
  background-color: #AC46B4; 
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display: flex;
  justify-content: space-evenly;
  height: 100%;
  width: 100%;
  margin: 0;
}

.wrapper {
  background-color: #28BC4E;
  opacity: 95%;
  display: flex;
  flex-direction: column; 
  margin-top: 5em;
  height: 30em;
  width: 50%;
  box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.22);
}

main {
  background-image: url("./images/winterImage.jpg");
  color: white;
  height: 100%;
  font-size: 2em;
  opacity: 85%;
}

ul {
  background-color: black;
  text-align:left;
  font-size: 0.6em;
  opacity: 85%;
  display: flex;
  height: 15em;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 2em;

  /* transform: skewX(20deg); */
}

li {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
  transform: skewX(-10deg);
}

input {
  display: flex;
  font-size: .9em;
  width: 9em;
  color: darkviolet;
  font-weight: boulder
}

p {
  background-color: black;
  text-align: center;
  height: 15em;
  font-family: "Corben";
  font-size: 0.7em;
  font-weight: boulder;
  margin: 2em;
  opacity: 85%;
  transform: skewX(-10deg);
}

span {
  color: red;
  font-weight: bolder;
}

.hidden {
  display: none!important;
  /* display: none; */
}